body{
    border: white 2px solid;
    color:white;
    text-align:center;
    background-color:rgb(69, 66, 66);
}
img { display: block; margin: 0 auto; }

#resume{
    color:green;
}

#footer-nav{
    text-align:left;
}

.footer-links{
color:green;
}

span{
    color:black;
}

